* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #131e2f;
  background-color: #f5f6fa;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

button,input{
  font-family: inherit;
}

.container {
  width: 100%;
  max-width: 95%;
  margin-inline: auto;
  padding-inline: 1rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}